body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    background: linear-gradient(135deg, #74ebd5, #9face6);

}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item div {
    display: flex;
    align-items: center;
}

.cart-item img {
    width: 50px;
    height: 75px;
    margin-right: 10px;
    border-radius: 4px;
}

.cart-item span {
    margin-right: 10px;
}

.total {
    text-align: right;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}

.payment-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.payment-btn:hover {
    background-color: #218838;
}


footer a {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #1e293b;
    font-weight: bold;
    transition: color 0.3s;
}

footer a:hover {
    color: #4b5563;
}
